.pedidos-admin .pedidos-container{
    position: relative;
    z-index: 0;
    margin: 0 16vw;
    padding: 5vh 0vh;
    width: 90%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pedidos-admin{
    background-color: #E9DEDE;
    min-height: 100vh;
}